
/* Responsive design
------------------------------------------------------------- */
/* Handle box-sizing cross browsers */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Responsive images */
img {
    max-width: 100%;
}


/* Global styles section
------------------------------------------------------------- */
html, body {
    /* Standardize font so we can resize it later */
    font-size: 100%;
    height: 100%;
}
body, nav, footer, header {
    width: 100%;
    margin: 0 auto;
    padding: 0 0;
    font-family: 'Roboto Light', 'Roboto', Helvetica, Geneva, Tahoma, sans-serif;
}

/* Helper classes */
.flexbox {
    /* Flexbox container for responsively changing rows/columns */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.flexbox-row {
    flex-flow: row wrap;
}

.flexbox-column {
    flex-flow: column wrap;
}

.flexbox > section {
    flex: 1;
    text-align: center;
}

.flexbox:after { 
    /* hack for clearing floats */
    content: " "; 
    display: block; 
    clear: both; 
}

.nofloat {
    float: none !important;
}

/* Styles section
------------------------------------------------------------- */

/* Common elements */
h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500; /* Thinner font */
    letter-spacing: 0.125em;
    line-height: 2;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
}

/* MATERIALIZE
------------------------------------------------------------- */

.chip .edit {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}


/* PACE section
------------------------------------------------------------- */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #c10000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #c10000, 0 0 5px #c10000;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #c10000;
  border-left-color: #c10000;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Media queries
----------------------------------------------- */

/* Mobile, landscape */
@media screen and (min-width: 480px) {
}

/* Tablet devices: portrait */
@media screen and (min-width: 768px) {    
    body {
        font-size: 105%;
    }
}

@media screen and (min-width: 830px) {
}


/* Tablet devices: landscape */
@media screen and (min-width: 1024px) {
    body {
        font-size: 110%;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
    body {
        font-size: 115%;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 120%;
    }
}