<!DOCTYPE html>
<html>
    <head>
		<!-- Responsive Design Tags -->
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		
		<!-- Copyright information. -->
		<meta name="author" content="Akshay Nair" />
		<meta name="Copyright" content="Akshay Nair" />
		
		<!-- Title of the page -->
        <meta name="description" content="Interview scheduling">
		<title>Interview Scheduler<%= (title ? " - " + title : "") %></title>
        
		<!-- Assets, CSS, JS -->
        <link rel="stylesheet" href="/assets/stylesheets/style.css">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.17/themes/offline-theme-dark.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/offline-js/0.7.17/offline.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

        <script defer src="/assets/scripts/all.min.js"></script>
    </head>
    <body>